.c-faq {
    padding-top: 74px;
    padding-bottom: 89px;
    position: relative;
    @media only screen and (min-width: 992px) {
        padding-top: 186px;
        padding-bottom: 244px;
    }
    h2 {
        margin-bottom: 32px;
        letter-spacing: -4px;
        font-size: 40px;
        line-height: 100%;
        font-weight: bold;
        @media only screen and (min-width: 992px) {
            font-size: 50px;
        }
        @media only screen and (min-width: 1200px) {
            font-size: 55px;
        }
        @media only screen and (min-width: 1350px) {
            font-size: 60px;
        }
    }
    /* Accordion styles */
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .tabs {
        overflow: hidden;
        max-width: 1121px;
        margin: 0 auto;
    }
    .tab {
        width: 100%;
        color: white;
        overflow: hidden;
        border-bottom: 1px solid rgba(74, 117, 213, 0.11);
        &:last-child {
            border: 0;
        }
        &-label {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -1px;
            color: #111111;
            cursor: pointer;
            padding: 35px 40px 35px 0;
            margin-bottom: 0;
            position: relative;

            @media only screen and (min-width: 992px) {
                font-size: 24px;
                padding: 55px 0;
            }
            
        /* Icon */
            &::after {
                content: "\002B";
                width: 35px;
                height: 35px;
                text-align: center;
                transition: all .35s;
                background: #E33939;
                border-radius: 100%;
                color: #fff;
                display: inline-block;
                line-height: 31px; 
                font-size: 31px;
                font-weight: 400;     

                position: absolute;
                right: 0;
                top: 40px;

                @media only screen and (min-width: 992px) {
                    position: relative;
                    right: initial;
                    top: initial;
                }
        }
    }
        &-content {
            max-height: 0;
            padding: 0 1em;
            background: none;
            transition: all .35s;
            color: #121212;
            ul {
                list-style-type: '\2012'; 
                padding-left: 20px;
                li {
                    padding-left: 20px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                    @media only screen and (min-width: 992px) {
                        font-size: 24px;
                    }
                }
            }
            p {
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                @media only screen and (min-width: 992px) {
                    font-size: 24px;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
    }
        &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            cursor: pointer;
    }
    }
    // :checked 
    input:checked {
        + .tab-label {
            padding-bottom: 0;
            &::after {
                content: "\2012";
        }
    }
        ~ .tab-content {
            max-height: 100vh;
            padding: 1em 1em 35px;
            @media only screen and (min-width: 992px) {
                padding: 1em 1em 55px;
            }
    }
    }

    &__bg-rectangle {
        position: absolute;
        top: 254px;
        left: 65px;
    }
    &__bg-rectangle2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}