.c-form {
    background: #1A1A1A;
    color: #fff;
    padding-top: 76px;
    padding-bottom: 49px;
    position: relative;

    @media only screen and (min-width: 992px) {
        padding-top: 127px;
        padding-bottom: 76px;
    }

    &__wrapper { 
        padding: 0 15px 68px;
        @media only screen and (min-width: 992px) {
            padding: 0;
            max-width: 687px;
        }
    }

    h2 {
        font-weight: bold;
        line-height: 100%;
        font-size: 40px;
        letter-spacing: -2px;
        margin-bottom: 40px;
        @media only screen and (min-width: 992px) {
            font-size: 70px;
            letter-spacing: -5px;
            margin-bottom: 56px;
        }
    }

    input {
        font-size: 20px;
        font-weight: 400;
        color: #111111;
        padding: 13px 22px;
        border-radius: 5px;
        border: 2px solid #D5E6FF;
        margin-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease-in;
        font-family: 'Inter', sans-serif;
        @media only screen and (min-width: 992px) {
            font-size: 22px;
            padding: 20px 32px 25px;
            margin-bottom: 20px;
        }
        &:focus {
            border: 2px solid #E63131;
            box-shadow: 0px 0px 8px #E63131;
            transition: all 0.3s ease-in;
        }
        &::placeholder {
            color: #6E6E6E;
        }
    }

    textarea {
        @extend input;
        height: 232px;
        padding: 31px 24px 48px;
        @media only screen and (min-width: 992px) {
            padding: 20px 32px 25px;
            height: 170px;
        }
    }

    button {
        width: 100%;
        border: 0;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -1px;
        padding: 23px 16px 26px;
        @media only screen and (min-width: 992px) {
            padding: 32px 16px 35px;
            font-size: 25px;
        }
    }

    .custom {
        overflow: hidden;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        position: relative;
        border-radius: 0.2em;
        border: 2px solid #D5E6FF;
        background-color: white;
        width: 100%;
        padding: 13px 22px;
        color: #111111;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;

        @media only screen and (min-width: 992px) {
            font-size: 22px;
            padding: 18px 32px 25px;
            margin-bottom: 0;
        }
        
        > select {
            width:  calc(100% + 64px);
            padding: 0.6em 2.4em 0.6em 0.6em;
            font-size: 1rem;
        }

        &:after {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 1.8em;
            display: block;
            content: "\23F7";
            //background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGFBMVEUAAAAZJCYWISIYIyQYIiUWIiIYIyQYIiXh0rToAAAACHRSTlMA/hTRqiinvwFkb0sAAABCSURBVHjajchBDsAgDAPBOJDw/x+XVN0icQGfPGs3i+2GEqeiLCXWLENzvdzrDfP2ls/NjfKbgimYglfBq2Dm+LwHguMA235EdKYAAAAASUVORK5CYII=") center no-repeat;
            pointer-events: none;
            top: 50%;
            transform: translateY(-50%);
        }
        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            -o-appearance: none;
            -ms-appearance: none;
            appearance: none;
            border-radius: 0;
            border: 0;
            margin: 0;
            padding: 0;
            background: none transparent;
            vertical-align: middle;
            font-size: inherit;
            color: inherit;
            box-sizing: content-box;
          }
    }

    &__bg-black {
        position: absolute;
        bottom: 0;
        left: 0;

    }
}